body {
  background-color:rgb(105, 71, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  background:gray;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #000;
}

#display {
  width: 250px;
  height: 50px;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #444;
  color:rgb(9, 7, 14);
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(42, 27, 27);
}
